body {
    margin: 0%;
    padding: 0%;
    font-size: 1.5rem;

}

.wrapper {
    margin: auto;
    width: 50vw;
    height: 25vh;
    margin-top: 20vh;
    background-color: aqua;

    h2 {
        text-align: center;
    }

    &__form_wrapper {
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 15vh;


        form {
            .type_container {
                display: flex;
                flex-direction: column;
            }

            .amount_container {
                display: flex;
                flex-direction: column;
            }

            height: 15vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #sub {
                border: none;
                padding: 15px;
                border-radius: 40px;
            }
        }
    }
}

.mega_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

    &__list_wrapper {
        width: 45vw;
        height: 45vh;
        background-color: aquamarine;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;

        .mini_list_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px 30px;
        }

        .total_balance {
            position: absolute;
            bottom: 50px;
            left: 25px;
        }
    }

    &__graphs {
        width: 45vw;
        height: 45vh;
        background-color: aquamarine;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;


        .bars_wrapper {
            height: 200px;
            width: 90%;
            background-color: aliceblue;
            margin: 25px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;

            .bar {
                margin-bottom: 10px;
                width: 20px;
                background-color: black;
            }
        }
    }
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}